<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/static/styles.css">
<head>
    <meta charset="UTF-8">
    <title>Evaluacion</title>
</head>
<body>
<!-- Enlace que lleva a ejercicio 1-->
    <div class="enlace-container">
        <a style="background-color: #a933b9; margin-left: 100px;" href="http://127.0.0.1:5000/ejercicio1">Ejercicio1</a>
    </div>
<br>
<!-- Enlace que lleva a ejercicio 2 -->
    <div class="enlace-container">
        <a style="background-color: #8cd23d; margin-left: 40px;" href="http://127.0.0.1:5000/ejercicio2">Ejercicio2</a>
    </div>
</body>
</html>